/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2016, 7:38:12 PM
    Author     : Administrator
*/

/** HEADER **/

header {
    margin-bottom: 10px;
	position:relative;
}

.top-right {
	position:absolute;
	z-index:2;
	top:10px;
	right:100px;
}

img.banner {
    height: 150px;
    width: 100%
}

#main-menu {
    border: 1px solid #000;
}

ul.menu li {
    float:left;
    width:150px
}

/** SIDEBAR **/
#sidebar h3 {
    font-size: 1.2em;
    color:#23527c
}

/** MAIN CONTENT **/
#hot-products img {
    height:200px
}

/** FOOTER **/
footer {
    border-top:1px solid #23527c;
    text-align: center
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}