body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #788188;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    line-height: 1.40;
}
.header.navbar, .footer.navbar {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    z-index: 1000;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}
.bg-white-only {
    background-color: #fff;
}

.header-md {
    min-height: 60px;
}
.main-menu-logo {
    float: left;
    margin: 10px 30px 0;
    width: 77%;
}
.main-menu-logo .logo {
    float: left;
    width: 20%;
}
.main-menu-logo .logo a {
    float: left;
}
a {
    color: #545a5f;
    text-decoration: none;
}
.main-menu-logo .main-menu {
    float: left;
    width: 80%;
}
.main-menu-logo .main-menu #mega-menu-wrap-primary {
    background: none;
}
#mega-menu-wrap-primary {
    clear: both;
}
#mega-menu-wrap-primary .mega-menu-toggle {
    display: none;
    z-index: 1;
    cursor: pointer;
    text-align: right;
    background: #222;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -ms-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    line-height: 40px;
    height: 40px;
    color: #fff;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    margin: 0 0px 0 0;
    display: inline-block;
    height: auto;
}
#mega-menu-wrap-primary, #mega-menu-wrap-primary #mega-menu-primary, #mega-menu-wrap-primary #mega-menu-primary ul.mega-sub-menu, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item, #mega-menu-wrap-primary #mega-menu-primary a.mega-menu-link {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background: none;
    border: 0;
    bottom: auto;
    box-sizing: border-box;
    clip: auto;
    color: #666;
    display: block;
    float: none;
    font-family: inherit;
    font-size: 14px;
    height: auto;
    left: auto;
    line-height: 1.7;
    list-style-type: none;
    margin: 0;
    min-height: 0;
    opacity: 1;
    outline: none;
    overflow: visible;
    padding: 0;
    position: relative;
    right: auto;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    top: auto;
    vertical-align: baseline;
    visibility: inherit;
    width: auto;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu.mega-menu-item {
    position: static;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    margin: 0 0px 0 0;
    display: inline-block;
    height: auto;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    font: 24px/47px'UTMCafetaRegular';
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    border-top: 0px solid #fff;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 0px solid #fff;
    outline: none;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    line-height: 40px;
    font-weight: inherit;
    height: 40px;
    vertical-align: baseline;
    text-align: left;
    width: auto;
    display: block;
    color: #48cfad;
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -ms-border-radius: 0px 0px 0px 0px;
    -o-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}
.header-md .navbar-form {
    margin-top: 15px;
    margin-bottom: 15px;
}
.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
  .bg-white-only .input-group-btn .btn {
    background: #eee;
}
.bg-white-only .navbar-form .input-group > .form-control, .bg-white-only .input-group-btn .btn {
    background: #eee;
}