.box-choice{
    border: 1px #222 solid;
    border-radius: 5px;
    height: 200px;
}
 li{
    
}
.ny{
    color: red;
}
.yn{
    color: blue;
}
/*.item-seat-booked {
    width: 50px;
    height: 50px;
    position: absolute;
    float: left;
    background: url('http://rapphim.local/cinema/images/seat_1.png') repeat scroll 0 0 transparent;
    color: Black;
    font-family: Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
    font-size: 10px;
    line-height: 25px;
    list-style: none outside none;
    padding: 0;
    text-align: center;
    display: table-cell;
}
.item-seat {
    width: 50px;
    height: 50px;
    position: absolute;
    float: left;
    background: url('http://rapphim.local/cinema/images/seat_0.png') repeat scroll 0 0 transparent;
    color: Black;
    font-family: Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
    font-size: 10px;
    line-height: 25px;
    list-style: none outside none;
    padding: 0;
    text-align: center;
    display: table-cell;
}*/
.ghe input{
    width: 50px;
}
//item null
.item-seat {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.item-seat:focus,
.item-seat.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.item-seat:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
// item selected
.item-seat-selected {
 color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.item-seat-selected:focus,
.item-seat-selected.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.item-seat-selected:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
//item booked
.item-seat-booked {
 color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.item-seat-booked:focus,
.item-seat-booked.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
/*.item-seat-booked:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}*/

.login >span{
    color: white;
}
.register>span{
    color: red;
}