*{
    margin: 0px;
    padding: 0px;
}
#header {
    position: relative;
    width: 100%;
    height: 56px;
    top: 0;
    background: #111;
    z-index: 100;
    font-family: 'Myriad Set Pro';
}
.container {
    width: 1170px;
    margin: auto;
}
.header_logo {
    width: 140px;
    height: 44px;
    margin: 9px 0;
    background-size: cover;
    float: left;    
    background: url('http://localhost/discount/public/images/img_home_plong/logo.png') no-repeat 0 0;
}
.header_slogan {
    float: left;
    margin: 19px 12px 0px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
    text-Shadow: 0 0 1px rgba(255,255,255,0.8);
    font-family: "myriad_proregular";
}
.header_top_menu {
    float: right;
}
.header_top_menu a {
    float: right;
    margin-top: 18px;
    padding-left: 22px;
    font-size: 14px;
    text-Shadow: 0 0 1px rgba(255,255,255,0.2);
    color: #eee;
    background-position: 0 1px;
    text-decoration: none;
    cursor: pointer;
}
.shopping_cart_btn {
    background: url('http://localhost/discount/public/images/img_home_plong/cart.png') no-repeat;
}
a {

}
.split_line {
    float: right;
    height: 18px;
    width: 1px;
    background: #555;
    margin: 18px 14px 0 14px;
}
.promotion_btn {
    background: url('http://localhost/discount/public/images/img_home_plong/promotion.png') no-repeat;
}
.hotline_btn {
    background: url('http://localhost/discount/public/images/img_home_plong/hotline.png') no-repeat;
}

.header_menu_bg {
    position: relative;
    width: 100%;
    height: 56px;
    background: #B61014;
    /* background: rgba(182,16,20,0.8); */
    z-index: 100;
    border-bottom: 3px solid #111;
}
.main_menu_bg {
    clear: both;
    position: relative;
    float: left;
    height: 56px;
    z-index: 50;
    margin-top: 0px;
}
.main_menu_item {
    position: absolute;
    z-index: 9955;
    position: relative;
    float: left !important;
    height: 56px;
    /* cursor: pointer; */
}
.main_menu_item_link {
    /*position: absolute;*/
    /*z-index: 65;*/
    /*position: relative;*/
    float: left !important;
    text-transform: uppercase;
    height: 56px;
    padding: 0 18px;
    padding-top: 18px;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Myriad Set Pro';
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    text-Shadow: 0 0 1px rgba(255,255,255,0.8);
}
div.main_menu_item a{text-decoration: none;}
.main_menu_item_link:hover{
    
    color: black;
}
.search_btn {
    position: relative;
    float: right;
    width: 56px;
    margin-top: 0px;
    height: 56px;
    background: #111 url('search.png') no-repeat center;
    cursor: pointer;
}
.search_bg {
    /*position: relative;*/
    position: absolute;
    top: 56px;
    right: 0;
    width: 360px;
    /*height: 46px;*/
    background: #111;
    /*display: none;*/
}
/*#main{
    clear: both;
    width: 80%;
    margin: auto;
}*/
tbody{
width: 50px;
    height: 70px;
    border: 1px #111 solid;
    margin: 5px;
}
.product_item {
    float: left;
    height: 280px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    background: #fff;
    
    text-align: center;
    overflow: hidden;
    border-collapse:separate;
}
.row{
        margin-right: -15px;
    margin-left: -15px;
}
.promotion_icon {
    position: absolute;
    width: 65px;
    height: 18px;
    background: url('kmai.png') no-repeat;
    background-size: cover;
    left: 0;
    top: 10px;
}
.product_img {
    float: left;
    width: 100%;
    height: 142px;
    /* margin: 0 2%; */
    overflow: hidden;
    margin: 12px 0 0 0;
}
#hot-products img {
    width: 100%;
}
#sidebar{
    padding-left: 20px;
}
#sidebar ul li{
    list-style-type:  none;
    list-style-image: none;
    
}
.home_title {
    position: relative;
    float: left;
    margin-top: 28px;
}
.new_product_title {
    position: absolute;
    z-index: 2;
    position: relative;
    float: left;
    font-size: 20px;
    font-family: 'Myriad Set Pro';
    color: #333333;
    text-Shadow: 0 0 1px rgba(88,80,80,0.2);
    padding-bottom: 5px;
    border-bottom: 3px solid #B61014;
    text-transform: uppercase;
    padding-left: 0xp;
    padding-right: 0px;
}
.new_product_title_line {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 3px;
    background: #eee;
    bottom: 0;
}
.home_product_bg {
    background: #fff;
    margin-top: 26px;
}
.gray_bg {
    background: #f9f9f9;
}
.no_padding {
    padding: 0px;
}
div.home_title {padding: 0px;}
div.home_title> .new_product_title{padding-bottom: 5px;}
.product_name {
    float: left;
    width: 94%;
    margin-left: 3%;
    margin-top: 22px;
    font-size: 13px;
    color: #333;
    text-transform: none;
    font-weight: 700;
    font-family: 'Myriad Set Pro';
    text-Shadow: 0 0 1px rgba(51,51,51,0.1);
    height: 52px;
    word-wrap: break-word;
    line-height: 17px;
    overflow: hidden;
}
.product_id {
    float: left;
    width: 100%;
    color: #878787;
    font-size: 12px;
    font-family: 'Myriad Set Pro';
    line-height: 18px;
}
.product_price {
    float: left;
    width: 100%;
    color: #b61014;
    font-size: 15px;
    font-weight: 700;
}
//detail product
.page_content {
    margin-top: 16px;
}
.product_detail_img {
    position: relative;
    /* width: 368px; */
    width: 100%;
    height: 280px;
    text-align: center;
    display: flex;
    align-items: center;
}
.product_gallery_bg {
    float: left;
    /* width: 368px; */
    height: 350px;
    margin-top: 50px;
    /* background: #aaaaaa; */
}
.product_detail_img img{
    margin:0px 40px;
}
.product_detail_info_bg {
    float: right;
    margin-top: 50px;
}
.product_detail_title {
    font-family: 'Myriad Set Pro';
    color: #B61014;
    text-Shadow: 0 0 1px rgba(182,16,20,0.3);
    font-size: 22px;
    line-height: 26px;
}
.product_detail_ID {
    font-size: 13px;
}
.product_detail_price {
    font-size: 18px;
    font-family: 'Myriad Set Pro';
    margin-top: 15px;
    text-Shadow: 0 0 1px #bbb;
}
.product_detail_price span {
    color: #B61014;
    text-Shadow: 0 0 1px rgba(182,16,20,0.3);
}
.product_add_detail_btn {
    float: left;
    width: 120px;
    height: 32px;
    background: url('product_add_detail_btn.png') no-repeat 0 0;
    margin-top: 22px;
}
.product_add_btn.product_add_detail_btn:hover {
    background: url('product_add_detail_btn.png') no-repeat 0 -32px;
}
.product_detail_info_title {
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 15px;
    text-Shadow: 0 0 1px #ddd;
    font-family: 'Myriad Set Pro';
}
.product_detail_info {
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 5px;
}
.product_detail_warranty {
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 12px;
    text-Shadow: 0 0 1px #ddd;
    font-family: 'Myriad Set Pro';
}
.promotion_bg {
    float: left;
    width: 95%;
    border: 1px dashed #B61013;
    margin-top: 15px;
    padding: 12px 2%;
    color: #B61013;
    font-size: 14px;
    text-Shadow: 0 0 1px rgba(182,16,20,0.1);
    font-family: 'Myriad Set Pro';
}

//gio hang
.yourcart_table {
    background: #fff;
    margin-top: 10px;
    color: #555;
    border-spacing: 1px;
    width: 100%;
    /* border: 1px dotted #ddd; */
}
.yourcart_table td {
    vertical-align: central;
    border: 1px solid #eee;
    padding: 10px;
}
.td_product_img {
    display: inline-block;
    min-width: 80px;
}
/*.img_xs{
    height: 60px;
    width: 60px;
}*/
.td_product_img img {
    width: 60px;
    height: auto;
}
.product_img_td{}
table.yourcart_table{margin-top: 20px}
td.product_img_td{
    width: 192px;
}
td.td_num input {
    text-align: center;
    width: 80px;
}
.yourcart_table_header td {
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 0;
    padding: 28px 15px;
    text-align: center;
    color: #b61014;
    font-family: "myriad_prosemibold" !important;
    text-transform: uppercase;
}
.yourcart_table td {
     font-weight: bold; 
    font-size: 14px;
    line-height: 0;
    padding: 28px 15px;
    text-align: center;
    color: #b61014;
    font-family: "myriad_prosemibold" !important;
    text-transform: uppercase;
}
.td_price, .td_sum {
    width: 120px;
    font-weight: bold;
    color: #b61014;
}
.td_total_title {
    text-align: right !important;
    color: #666 !important;
    font-size: 15px !important;
}
.td_total {
    text-align: right !important;
    color: #B61014;
    font-size: 15px !important;
}
///form contract
.contact_form {
    margin-top: 26px;
    margin-bottom: 26px;
}
.contact_form_content_bg{
    padding-top: 26px;
}
.contact_txt_bg {
    position: relative;
    float: left;
    width: 100%;
    height: 28px;
    border: 1px solid #eee;
    margin: 5px 0 0 0;
    /* font-family: 'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New"; */
    font-size: 13px;
    font: 13px/20px 'Arial';
    background: #fff;
}
.contact_txt {
    position: absolute;
    border: none;
    background: none;
    outline: none;
    width: 100%;
    height: 24px;
    padding-top: 3px;
    margin-left: 6px;
    z-index: 100;
    font: 13px/20px 'Arial';
    /* font-family: 'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New"; */
}
.contact_txta_bg {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    border: 1px solid #eee;
    background: #fff;
    margin: 5px 0 0 0;
    /* font-family: 'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New"; */
    font: 13px/20px 'Arial';
    color: #999999;
}
.contact_txta {
    position: absolute;
    border: none;
    background: none;
    outline: none;
    width: 99%;
    height: 94px;
    margin-top: 2px;
    margin-left: 4px;
    z-index: 0;
    color: #666;
    font-weight: normal;
    /* font-family: 'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New"; */
    resize: none;
    font: 13px/20px 'Arial';
}
.contact_button {
    position: relative;
    width: 100%;
    top: 16px;
    bottom: 28px;
}
.contact_button a {
    float: left;
    /* width: 95px; */
    width: 100%;
    height: 36px;
    background: #b61014;
    color: #fff;
    overflow: hidden;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    cursor: pointer;
    /* font-family: 'gillsansregular', "Trebuchet MS", "Century Gothic", "Courier New"; */
}
.contact_button a span {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 9px;
    /* text-shadow: 0px 0px 1px #fff; */
    font-size: 14px;
    text-transform: uppercase;
    font-family: "myriad_proregular" !important;
    cursor: pointer;
}
.cart_info_bg {
    float: left;
    padding-top: 28px;
    padding-right: 0;
    line-height: 28px;
}
.cart_info_bg span {
    font-size: 14px;
    line-height: 35px;
    color: #B61014;
    font-weight: bold;
}
.note_bg {
    float: left;
    width: 100%;
    margin-top: 8px;
    font-style: italic;
}
.note {
    color: #b61014;
}
.shopping_img {
    float: left;
    width: 100%;
    margin-top: 22px;
}
