/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2016, 7:38:12 PM
    Author     : Administrator
*/

/** HEADER **/

header {
    margin-bottom: 10px;
}
img.banner {
    height: 150px;
    width: 100%
}

#main-menu {
    border: 1px solid #000;
}

ul.menu li {
    float:left;
    width:150px
}

/** SIDEBAR **/
#sidebar h3 {
    font-size: 1.2em;
    color:#23527c
}

/** MAIN CONTENT **/
#hot-products img {
    height:200px
}

/** FOOTER **/
footer {
    border-top:1px solid #23527c;
    text-align: center
}