
@media only screen and (max-width: 1100px) {

	.active.boxed {
		max-width: 100%;
	}
        
        #side-left,#side-right {
            display: none;
        }
	.wrapper {
		width: 94%;
	}

	.banner-block img,
	.banner-widget img {
		max-width: 100%;
		height: auto;
	}

	.header .header-content .header-banner img {
		max-width: 90%;
		height: auto;
	}

	.with-sidebar-layout {
		width: 67%;
	}

	#sidebar {
		width: 30%;
	}

	.img-hover-effect:before,
	.img-hover-effect .hoveringel {
		display: none!important;
	}

	.video-thumb:hover img,
	.widget .widget-videos .item-content .video-meta,
	.video-list .item .item-content > .video-meta {
		opacity: 1!important;
		filter: alpha(opacity=100)!important;
	}

}
